
*,*:before,*:after
{
    box-sizing: border-box;
}

body{
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}

main
{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    line-height: 3.8;
    font-size: 60px;


}
 

footer
{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    flex-flow: row wrap;
   padding: 50px;

    background-color: rgb(20, 20, 117);
    height: 450px;
    width:100%;
    margin-bottom: 2px;
}

.footer >*
{
    flex: 1 100%;
}

.footer-left
{
    margin-right: 0.8em;
    margin-bottom: 1em;
    font-size: medium;
}

.brand
{
    margin-top: 0px;
    color: #2d444e;
    text-align: center !important;
    font-size: 20px !important;
    line-height: 30px;
}

@media screen and (min-width:600px)
{
    
}