
*,*:before,*:after
{
    box-sizing: border-box;
}

body{
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}

main
{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    line-height: 3.8;
    font-size: 60px;


}
 

footer
{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    flex-flow: row wrap;
   padding: 50px;
   position: relative;
   bottom: 0%;

    background-color: rgb(20, 20, 117);
    height: 460px;
    width:100%;
    
}

.footer >*
{
    flex: 1 100%;
}

.footer-left
{
    margin-right: 0.8em;
    margin-bottom: 1em;
    font-size: medium;
}

.brand
{
    margin-top: 0px;
    color: #2d444e;
    text-align: center !important;
    font-size: 20px !important;
    line-height: 30px;
}

.bank
{
    width:170px !important ;
    height: 17px!important;
}

.text
{
    font-size: 25px;
    color: rgb(238, 232, 232);
}

.text1
{
    font-size: 27px;
    color:rgb(148, 145, 145);
}

.ATT
{
    width:170px !important ;
    height: 30px!important;
}

.join{
    font-size: 40px;
    text-align: center ;
    font-family: 'Times New Roman';
}

.b1
{
    width: 170px;
    height: 40px;
    color:white;
    background-color: blue;
    border-radius: 3px;
    margin-left:40%;
    margin-bottom: 2px;
}
@media screen and (max-width:600px)
{
    footer
{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    flex-flow: row wrap;
   padding: 50px;
   position: relative;
   bottom: 0%;

    background-color: rgb(20, 20, 117);
    height: 1150px;
    width:100%;
    
}

}